/* Layout & Structure */
.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.horizLine {
  border: 1px solid;
  margin: 10px 3px;
}

.padding1px {
  padding-top: 1px;
  z-index: 1;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.listItem {
  margin: 0 0 1.25rem;
  z-index: 1;
}

.socialIconRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 0.4rem;
}

/* Typography */
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  z-index: 1;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  z-index: 1;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  z-index: 1;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  z-index: 1;
}

.lightText {
  color: #666;
  z-index: 1;
}

/* Links & Navigation */
.navLink {
  color: inherit;
  text-decoration: none;
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  font-size: 1.2rem;
}

.navLink:visited {
  color: inherit;
}

.navLink:hover {
  text-decoration: underline;
}

.boldLink {
  font-weight: bold;
  text-decoration: underline;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

/* Buttons & Theming */
.themeToggleBtn {
  border-radius: 9999px;
  height: 100%;
}

.themeToggleBtn svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.themeToggleLight {
  @apply bg-slate-400 border-black-50 hover:bg-slate-500 text-white;
}

.themeToggleDark {
  @apply bg-slate-100 hover:bg-slate-300 text-black;
}

/* Images & Icons */
.borderCircle {
  z-index: 1;
  border-radius: 9999px;
}

.socialsLink {
  border-radius: 9999px;
}

.hoverImage {
  opacity: 0.8;
}

.hoverImage:hover {
  opacity: 1;
  cursor: pointer;
}

.inlineIcon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  opacity: 0.9;
}

.inlineIcon:hover {
  opacity: 1;
  cursor: pointer;
}

.projectItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.projectInfo {
  margin-right: 1rem;
}

.projectStatus {
  font-size: 0.9em;
  color: #767676;
  margin-left: 0.5rem;
}

.techStackIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* For mobile screens */
@media (max-width: 570px) {
  .projectItem {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #333;
  }

  .projectInfo {
    margin-right: 0;
  }

  .projectInfo a {
  }

  .techStackIcons {
    margin-left: 0;
    margin-top: 0.75rem;
  }
}

/* Component: Header */
.Header {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* Component: Footer */
.footerText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Component: Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* Start off-screen */
  width: 300px;
  height: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.7);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.sidebarLight {
  background-color: #fafafa; /* Light background */
  color: #333; /* Dark text */
  border-left: 1px solid #333; /* Dark border */
}

.sidebarDark {
  background-color: #222; /* Dark background */
  color: #eee; /* Light text */
  border-left: 1px solid #eee; /* Light border */
}

.open {
  right: 0;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Component: ToggleDropdown */
.dropdown {
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.toggleButton {
  border: none;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.content {
  padding: 15px;
  color: inherit;
}

.dropdownLight {
  border: 1px solid #ccc;
  background-color: #fafafa;
  color: #333;
}

.toggleButtonLight {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
.toggleButtonLight:hover {
  background-color: #e0e0e0;
}

.contentLight {
  background-color: #fafafa;
}

.dropdownDark {
  border: 1px solid #555;
  background-color: #222;
  color: #eee;
}

.toggleButtonDark {
  background-color: #333;
  border-bottom: 1px solid #555;
}
.toggleButtonDark:hover {
  background-color: #444;
}

.contentDark {
  background-color: #222;
}

.arrowRight,
.arrowDown {
  transition: transform 0.2s ease-in-out;
}

.arrowDown {
  transform: rotate(90deg);
}
