.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  z-index: 1;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  z-index: 1;

}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  z-index: 1;

}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  z-index: 1;

}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.borderCircle {
  z-index: 1;
  border-radius: 9999px;
}

.socialsLink {
  z-index: 1;
  border-radius: 9999px;
  opacity: 0.85;
}

.socialsLink:hover {
  opacity: 1;
  cursor: pointer;
}

.colorInherit {
  color: inherit;
  z-index: 1;

}

.padding1px {
  padding-top: 1px;
  z-index: 1;

}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.listItem {
  margin: 0 0 1.25rem;
  z-index: 1;

}

.lightText {
  color: #666;
  z-index: 1;

}

.Header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.5;
  z-index: 1;
}

.navLink {
  text-decoration: none;
  font-weight: 700;
}

.activeNavLink {
  text-decoration: none;
  font-weight: 900;
}

.horizLine {
  border: 2px solid;
  margin: 10px 3px;
}

.hoverImage {
  opacity: 0.8;
}

.hoverImage:hover {
  opacity: 1;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* Start off-screen */
  width: 300px;
  height: 100%;
  background-color: gray;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.7);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.open {
  right: 0;
}

.closeButton {
  background: none;
  border: none;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebarNav a:hover {
  color: #0070f3;
  /* Change to your preferred link hover color */
}